<div class="main-grid">
   <div class="main-grid_title">
      <p>ANTONIA STRALAFAURULS</p>
      <p>PHOTOGRAPHY</p>
      <p>2024</p>
      <p>MEXICO D.F.</p>
   </div>
   @for (url of imageUrls; track url; let i = $index) {
      <div [class]="['main-grid_photos', 'photo-' + url.id]" [id]="url.title">
         <a [routerLink]="['/album', url.id]">
            <h1 class="main-grid_phrase">{{url.title}}</h1>
            <img class="main-grid_image" [src]="url.photo" [alt]="url.title">
         </a>
      </div>
   }
</div>